/* higher buttons  .. */
.clHighButton .ui-btn{
	height: 50px;
}

.clSmallFont {
	font-size: 10pt;
}
/*
.ratingSelect {
	border: 0px solid red;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.ratingSelect > label > input {
    display: none;
}

.ratingSelect > label > .img {
	float: left;
	width: 20px;
	height: 20px;
	border: none;
}

.ratingSelect > label.rated > .img { 
	background: url("images/star_rated.png") no-repeat;
}
.ratingSelect > label.unrated > .img { 	
	background: url("images/star_unrated.png") no-repeat;
}


*/