body {
	background-color: #000000 !important;
}

/* 		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:700,400' /> */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}


.clLoading {
	background: red;
	width: 400px;
	height: 400px;
	top: 200px;
	left: 200px;
}
.clHidden {
	visibility: hidden;
}

div.clPage {
	min-height:480px; 
	max-width:320px;
}

.ui-header 
{
	margin-top: 17x;

	/*margin-top: 0px;
	/*padding-top: 17px;*/
	/*background-color: red;*/
}


/* higher buttons  .. */
.clHighButton .ui-btn{
	height: 50px;
}

.clSmallFont {
	font-size: 10pt;
}

.clExtra .ui-collapsible-content ul li{
	background-color: #053160 !important;
}


label.clUIElement{
	font-size: 0px;
	visibility: hidden;
	height: 0px;
	width: 0px;
}

label.rated, label.unrated {
	visibility: visible;
	height:20px;
}
textarea.ui-input-text { height: inherit; }

/* set text area to height of 30 px */
ui-page .ui-content textarea.ui-input-text {
	height : 20px;
}​
input.ui-input-text, textarea.ui-input-text {
	min-height: 20px;
	height: 20px;
	line-height: 15px;
	margin-top: 0px;
}

/*
.ratingSelect {
	border: 0px solid red;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.ratingSelect > label > input {
    display: none;
}

.ratingSelect > label > .img {
	float: left;
	width: 20px;
	height: 20px;
	border: none;
}

.ratingSelect > label.rated > .img { 
	background: url("images/star_rated.png") no-repeat;
}
.ratingSelect > label.unrated > .img { 	
	background: url("images/star_unrated.png") no-repeat;
}


*/


.ui-icon-google:after {
    background-image: url("../files/views/assets/image/googleAuth.jpg");
    /* Make your icon fit */
    background-size: 25px 25px;
    background-color: transparent;
    box-shadow: none;
    webkit-border-radius: none;
    border-radius: none;
}

.ui-icon-facebook:after {
    background-image: url("../files/views/assets/image/facebookAuth.png");
    /* Make your icon fit */
    background-size: 25px 25px;
    background-color: transparent;
    box-shadow: none;
    webkit-border-radius: none;
    border-radius: none;
}













.clLoading {
	z-index: 100000;
	position: absolute;
	top: 150px;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	width: 200px;
	height: 200px;
	border-radius: 15px;
	box-shadow: inset 0px 2px 2px 1px #DDD;
	border: 0px solid red;
	display: none;
	background-color: #000000;
	color: #FFFFFF;
}


/* outer button outline.. */
.clButton.clCurrentScore {
    width: 280px;
	padding-top: 0px 10px;
    border-radius: 8px;
	box-shadow: inset 0px 2px 2px 1px #DDD;
	color: #FFFFFF;
	background-color: #092E56;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px !important;
}


.clSmallMargin > .clButton {
	margin: 0px 10px;
}
/* outer button outline.. */
.clButton {
    width: 280px;
	padding: 9px;
    border-radius: 8px;
	box-shadow: inset 0px 2px 2px 1px #DDD;
	margin: 20px 10px;
	background: #FFFFFF;
}

.clButton.clFullWidth {
	width: 300px;
    margin: 20px 0px;
	border-radius: 0px;
	abackground: red; /*#C3cbd6;*/
	box-shadow: inset 0px 4px 4px -3px #RED;
	padding-left: 10px;
}

.clButton.clFullWidth.clNewRouteLog {
	background-color #ebf1g9;
	box-shadow: 0 0 0 0 0;
	margin: 0px 0px;
	/*#ebf1g9;*/
}



/* inner button outline.. */
.clButton>div {
    background: url(../files/views/assets/image/button_gradient_bg_1_90.png);
    height: 72px;
    clear: both;
    padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 10px;
    border-radius: 5px;
	font-size: 1.4em;
	line-height: 1em;
	box-shadow: 0px 1px 2px #888;
}

/* outer image ring.. */
.clButton >div >a {
    display:block;
    width:70px;
    height:70px;
    border-radius: 50%;
	box-shadow: inset 0px 1px 1px 1px #BBB;
    background: white;
    float:left;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

/* inner inner image background */
.clButton >div >a >div{
    display:block;
	float:left;
	position: relative;
	top: 4px;
	left: 4px;
	width:62px;
    height: 62px;
	border-radius: 50%;
    background: #073f7c;
}
/* actual button image... */
.clButton >div >a >div >img {
    float:left;
	position: relative;
/*	top: 11px;
	left: 11px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
*/
	top: 16px; 
	left: 16px; 
	width: 30px; 
	height: 30px; 
	border-radius: 0px;	
    
}

.clButton:hover >div >a >div {
    background: #075fCC;
}
.clButton:hover >div > span {
    color: #075fCC;
}

.clButton >div > span {
    font-weight: bold;    
    float:left;
    padding-top: 23px;
    padding-left: 12px;
    color: #092E56;
	}

.clButton.clFullWidth > div > span {
    text-align: center !important;
	width: 70%;
}




/* outer button outline.. */
.clButton.clSmall {
	margin: 0px 10px !important;
}

/* inner button outline.. */
.clButton.clSmall>div {
    height: 42px;
    padding-top: 7px;
	font-size: 1em;
	text-align: center;
}

/* outer image ring.. */
.clButton.clSmall >div >a {
    width:40px;
    height:40px;
	float: left;
}

/* inner inner image background */
.clButton.clSmall >div >a >div{
	top: 4px;
	left: 4px;
	width:32px;
    height: 32px;
}
/* actual button image... */
.clButton.clSmall >div >a >div >img {
    top: 6px;
	left: 6px;
    width: 20px;
    height: 20px;
	border-radius: 50%;
}

.clButton.clSmall >div > span {
	float: left;
	width: 60%;
    font-size: 1.4em;
	padding-top: 13px;
    padding-left: 12px;
}





.ui-icon-cl_home:after {
    background-image: url("../files/views/assets/image/img_22_22/nav_home.png") !important;
}
.ui-icon-cl_menu:after {
    background-image: url("../files/views/assets/image/img_22_22/nav_menu.png") !important;
}
.ui-icon-cl_plus:after {
    background-image: url("../files/views/assets/image/img_16_16/button_plus_white.png") !important;
}
.ui-icon-cl_minus:after {
    background-image: url("../files/views/assets/image/img_16_16/button_minus_white.png") !important;
}

.ui-icon-cl_plus_blue:after {
    background-image: url("../files/views/assets/image/img_16_16/button_plus_blue.png") !important;
}
.ui-icon-cl_minus_blue:after {
    background-image: url("../files/views/assets/image/img_16_16/button_minus_blue.png") !important;
}

	
/* positioning for icon area */
.clIcon.ui-btn-icon-notext:after, .clIcon.ui-btn-icon-top:after, .clIcon.ui-btn-icon-bottom:after {
    left: 50%;
    margin-left: -20px;
}
/* positioning for icon area */
.clIcon.ui-btn-icon-notext:after, .clIcon.ui-btn-icon-left:after, .clIcon.ui-btn-icon-right:after {
    margin-top: -20px;
    top: 50%;
}
/* content area for icon */
.clIcon.ui-btn-icon-left:after, .clIcon.ui-btn-icon-right:after, .clIcon.ui-btn-icon-top:after, .clIcon.ui-btn-icon-bottom:after, .clIcon.ui-btn-icon-notext:after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
	border: 0px solid red;
}
/* background for icon */
.clIcon.ui-btn-icon-left:after, .clIcon.ui-btn-icon-right:after, .clIcon.ui-btn-icon-top:after, .clIcon.ui-btn-icon-bottom:after, .clIcon.ui-btn-icon-notext:after {
    background-color: #073E78;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50% 50% 50% 50%;
}

/* border around icon... */
/********
	.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
		background-color: #053160;
		border-color: #053160;
		text-shadow: 0 0 0 #F3F3F3;
	}
**********/

.clIcon.ui-btn-icon-notext.ui-btn-corner-all, .clIcon.ui-btn-icon-notext.ui-corner-all {
    border-radius: 50% 50% 50% 50%;
}

.clIcon.ui-btn-icon-notext {
    height: 44px;
    padding: 0;
    text-indent: -9999px;
    white-space: nowrap !important;
    width: 44px;
}


/* positioning for icon area */
.clIconCollapsible  .ui-btn-icon-notext:after, .clIconCollapsible  .ui-btn-icon-top:after, .clIconCollapsible  .ui-btn-icon-bottom:after {
    left: 50%;
    margin-left: -20px;
}
/* positioning for icon area */
.clIconCollapsible  .ui-btn-icon-notext:after, .clIconCollapsible  .ui-btn-icon-left:after, .clIconCollapsible  .ui-btn-icon-right:after {
    margin-top: -20px;
    top: 50%;
}
/* content area for icon */
.clIconCollapsible  .ui-btn-icon-left:after, .clIconCollapsible  .ui-btn-icon-right:after, .clIconCollapsible  .ui-btn-icon-top:after, .clIconCollapsible  .ui-btn-icon-bottom:after, .clIconCollapsible  .ui-btn-icon-notext:after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
	border: 0px solid red;
}
/* background for icon */
.clIconCollapsible  .ui-btn-icon-left:after, .clIconCollapsible  .ui-btn-icon-right:after, .clIconCollapsible  .ui-btn-icon-top:after, .clIconCollapsible  .ui-btn-icon-bottom:after, .clIconCollapsible  .ui-btn-icon-notext:after {
    background-color: #073E78;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50% 50% 50% 50%;
}

/* background for icon */
.clIconCollapsible.clIconBlue .ui-btn-icon-left:after, 
.clIconCollapsible.clIconBlue .ui-btn-icon-right:after, 
.clIconCollapsible.clIconBlue .ui-btn-icon-top:after, 
.clIconCollapsible.clIconBlue .ui-btn-icon-bottom:after, 
.clIconCollapsible.clIconBlue .ui-btn-icon-notext:after {
    background-color: #FFFFFF; /*#073E78;*/
	border: 2px solid #073E78;;
}

.clIconCollapsible.clIconBlue .ui-btn {
    abackground-color: #00FF00; /*#073E78;*/
    aborder-color: #00FF00; /*#073E78;*/
}



/* border around icon... */
/********
	.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
		background-color: #053160;
		border-color: #053160;
		text-shadow: 0 0 0 #F3F3F3;
	}
**********/

.clIconCollapsible  .ui-btn-icon-notext.ui-btn-corner-all, .clIconCollapsible  .ui-btn-icon-notext.ui-corner-all {
    border-radius: 50% 50% 50% 50%;
}

.clIconCollapsible  .ui-btn-icon-notext {
    height: 44px;
    padding: 0;
    text-indent: -9999px;
    white-space: nowrap !important;
    width: 44px;

}


.clStats.ui-listview {
	font-weight: bold;
	font-size: 1.1em;
}
.clStats.ui-listview > li {
	padding-top: 10px !important;
	padding-bottom: 24px !important;
	background-color: #EAF1F0 !important;
	color: #002a6f !important; /*#092E56;*/
}
.clStats.ui-listview .ui-li-count {
	margin-right: 10px;
	font-weight: bold;
}

.clIconCollapsible .ui-collapsible-heading-toggle {
	border-top: 1px solid #CCC !important;
	border-bottom: 1px solid #CCC !important;
	border-right: none;
	border-left: none;
	border-radius: 0 !important;

    background: url(../files/views/assets/image/button_gradient_bg_1_90.png);
	
	padding-top: 20px;
	padding-bottom: 20px;
	color: #002A6F !important;
    padding-left: 60px !important;
	text-align: center !important;
	
}

.clIconCollapsible.clBgWhite  {
	padding: 10px 10px 10px 10px; 
border: 1px solid red;
							}
							
.clIconCollapsible.clBgWhite .ui-collapsible-heading-toggle {
    background-color: #FFFFFF !important;
	background: none;
	
	margin:  0px 0px 0px 00px;

	
}




/*
	All clFieldset classes...
*/
.clFieldset.ui-controlgroup, fieldset.clFieldset.ui-controlgroup {
	margin: 0px 0 0;
	padding: 0;
}
.clFieldset .ui-select, .ui-select {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	border: none !important; /*1px solid yellow !important;*/
}
.clFieldset .ui-checkbox .ui-btn, .clFieldset .ui-radio .ui-btn {
	text-align: center;
}

/* grade system fieldset */
.clFieldset.clGradeSystem .ui-controlgroup-controls {
	width: 100%;
	border: none;
	border-radius: 0em;
}
/* SELECTED gradetype */
.clFieldset.clGradeSystem .ui-controlgroup-controls .ui-btn.ui-btn-active{
	border: 0px solid red;
	background-color: #063a72;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.0em !important;
	line-height: 1.1em !important;
	letter-spacing: 2px;
	text-shadow: none;
}
/* UNselected gradetype */
.clFieldset.clGradeSystem .ui-controlgroup-controls .ui-btn{
	padding-top: 13px;
	padding-bottom: 13px;
	background-color: #bac1cb;
	color: #195ea9;
	font-weight: normal;
	font-size: 1.0em !important;
	line-height: 1.1em !important;
	text-shadow: 0px 0px 1px black;
	 letter-spacing: 2px;
}
.clFieldset.clGradeSystem .ui-controlgroup-controls .ui-radio{
	width: 33.3333% !important;
}
.clFieldset.clGradeSystem .ui-controlgroup-controls .ui-btn {
	border: none;
	border-radius: 6px 6px 0px 0px !important;
	margin: 1px;
	font-size: 15px;
}





.clFieldset.clTicktypes .ui-controlgroup-controls {
	width: 100% !important;
	border: none !important; /*1px solid red !important;*/
	border-radius: 0px !important;
	background: none;
}
.clFieldset.clTicktypes .ui-controlgroup-controls .ui-btn {
	border: none !important; /*1px solid red !important;*/
	/* fucked up borders due to .png files => no clue what to do in PS */
	background-image: url("../files/views/assets/image/ticktype_gradient_bg_1_60.png")/* !important */;
	padding-top: 5px;
	height: 55px;
}
.clFieldset.clTicktypes .ui-controlgroup-controls .ui-btn.ui-checkbox-on{
	/* TESTING: use dummy background for now..need to find selected-state-color */
	background-image: url("../files/views/assets/image/ticktype_gradient_bg_1_60.png")/* !important */;
}
.clFieldset.clTicktypes .ui-controlgroup-controls .ui-btn.ui-checkbox-off{
	background-image: none;
	background-color: #bac1cb !important; /*1px solid red !important;*/
}

.clFieldset.clTicktypes .ui-controlgroup-controls .ui-checkbox {
	border: 1px solid #cccccc;
	width: 24% !important;
	/*border: 1px solid red !important;*/
}
.clFieldset.clTicktypes .ui-btn {
	padding: 3px 0px 0px 0px;
	height: 40px;
}

.clTicktypes img {
	margin-left: 13px;
	text-align: center;
	align: center;
	display: block;
	width:45px; 
	height: 45px;
	border-radius: 50%;
	background-size: 45px 45px;
}
.clTicktypes img.redpoint {
	border: 1px solid red; 
	background: url("../files/views/assets/image/img_45_45/ticktype_redpoint.png");
	background-size: 40px 40px;
	background-position: 2px 2px;
	background-repeat: no-repeat;

}
.clTicktypes img.toprope {
	border: 1px solid red; 
	background: url("../files/views/assets/image/img_45_45/ticktypes_toprope.png");
	background-size: 50px 50px;
	background-position: -2px -2px;
}
.clTicktypes img.flash {
	border: 1px solid white; 
	background: url("../files/views/assets/image/img_45_45/ticktypes_flash.png");
	background-size: 45px 45px;
}
.clTicktypes img.try {
	border: 1px solid white; 
	background: url("../files/views/assets/image/img_45_45/ticktypes_try.png");
	background-size: 45px 45px;
}

.clRouteDropdown {
	margin-top: 0px !important;
	margin-bottom: 0px  !important;
	padding-top: 1px  !important;
	padding-bottom: 1px  !important;
	background-color: #AAA;
	width: 50%;
	float:left;
	border: 0px solid red;
	border-bottom: 1px solid #CCC;
	box-shadow: 0px 0px 1px 1px #CCC;
}

.clRouteDropdown.clFullWidth {
	padding-top: 0px  !important;
	padding-bottom: 0px  !important;
	width: 100%;
}

.clRouteDropdown.clFullWidth:first-child{
	padding-top: 2px  !important;
}


.clRouteDropdown.clFullWidth {
}
.clRouteDropdown.clFullWidth .ui-select .ui-btn {
	height: 2em;
}

.clRouteDropdown.clFullWidth .ui-icon-clRouteDropdownIcon:after {
	top: 50%;
	margin-top: -28px;
	
}
		
.clRouteDropdown.clFullWidth .ui-select .ui-btn span {
	padding-top: 5px !important;
	padding-bottom: 0px !important;
	border: 0px solid green;
}
.clRouteDropdown .ui-shadow {
	box-shadow: none !important;
}

.clRouteDropdown .ui-select .ui-btn span {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.clRouteDropdown .ui-select .ui-btn:hover span ,
.clRouteDropdown .ui-select .ui-btn:active span,
.clRouteDropdown .ui-select .ui-btn:visited span
{
	border: none;
	color: #2B67AA !important;
}

.clRouteDropdown .ui-select {
	background-color: transparent !important;
}
.clRouteDropdown .ui-select > .ui-btn {
	background-color: transparent !important;

	border: 1px solid #CCCCCC !important;
	border-radius: 0em !important;

	/* background for dropdowns.. */
	background-image: url("../files/views/assets/image/dropdown_gradient_bg_1_85.png") !important;
	background-repeat: repeat-x;
	background-size: 54px 85px;
	color: #2b67AA;
	
}



.ui-icon-clRouteDropdownIcon:after {
	background-image: url("../files/views/assets/image/routelog_dropdown_arrow.png") !important;
	
	/* Make your icon fit */
	background-size: 54px 54px;
	height: 56px;
	width: 56px;
	top: 28px;
	/* TESTING: set to black to tackle border unschärfen */
	background-color: transparent !important;
	
}
	
.ui-icon-clRouteDropdownIcon.ui-btn-icon-left:after {
	left: 0px;
	padding-left: 0px;
}
.ui-icon-clRouteDropdownIcon.ui-btn-icon-left {
	padding-left: 55px;
	padding-right: 5px;
}
.ui-icon-clRouteDropdownIcon.ui-btn-icon-right:after {
	right: 0px;
	padding-right: 0px;
}
.ui-icon-clRouteDropdownIcon.ui-btn-icon-right{
	padding-left: 5px;
	padding-right: 55px;
}

.ui-icon-clRouteDropdownIcon span {
	width: 100%;
	overflow: hidden; 
	text-overflow: ellipsis;
}
	
.ui-input-text {
		margin: 0px 20px;
		border: 1px solid #073E78;
		font-size: 1.2em;
}
.ui-input-search {
		margin: 0px 2px;
		margin-top: 10px;
		border: 1px solid #073E78;
		font-size: 1.2em;
}
	
.ui-input-text .clTextInput::-webkit-input-placeholder { /* WebKit browsers */
    color:    #092E56 !important;
}
.ui-input-text .clTextInput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #092E56 !important;
    opacity:  1;
}
.ui-input-text .clTextInput::-moz-placeholder, .ui-input-search .clTextInput::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #092E56 !important;
    opacity:  1;
}
.ui-input-text .clTextInput:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #092E56;
}






/* todaysroutelogs header */
.clRouteLogs >.ui-collapsible-heading>.ui-btn{
	font-size: 1.6em;
	background-color: #FFFFFF !important;
	background-image: none;
	
}

.addMore .ui-collapsible-heading-toggle {
	background: #CCCCCC !important;
	margin-top: 0px;
	padding-top: 0px;
	height: 10px !important; 
	border-radius: 10px 10px 10px 10px ;
	border: 1px solid red;
}

