<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Kurtl @@include('grunt_includes/_timestamp.html', {"pageName": "startScreen"})
    </name>

    <description>
        the good old kurtl..
    </description>

    <author href="http://www.kurt-climbing.com" email="admin@kurt-climbing.com">
        owifal
    </author>

    <icon src="files/views/assets/image/splashLogo.png" />
     
    <gap:platform name="ios" />
    
    <gap:plugin name="org.apache.cordova.InAppBrowser" />
<!--    
    <gap:plugin name="com.phonegap.plugin.statusbar">
        <preference name="StatusBarBackgroundColor" value="#000000" />
    </gap:plugin>
-->
    <gap:plugin name="cc.fovea.plugins.inapppurchase"/>    
    
    <access origin="*" />
    
</widget>
