<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>KURT @@include('grunt_includes/_timestamp.html', {"pageName": "startScreen"})
    </name>

    <description>
        the good old kurtl..
    </description>

    <author href="http://www.kurt-climbing.com" email="admin@kurt-climbing.com">
        owifal
    </author>

	<preference name="orientation" value="portrait" />

	<gap:splash src="files/views/assets/image/splashBackground.png" gap:platform="ios" width="640" height="1136" />

	<icon src="files/views/assets/image/splashLogoNoBorders.png" gap:platform="ios" width="60" height="60" />
	<icon src="files/views/assets/image/splashLogoNoBorders.png" gap:platform="ios" width="120" height="120" />
	<icon src="files/views/assets/image/splashLogoNoBorders.png" />
    
	<platform name="ios">
		<icon src="files/views/assets/image/senkrecht.jpg" width="60" height="60" />
		<icon src="files/views/assets/image/senkrecht.jpg" width="120" height="120" />
	</platform name="ios">
	
    <gap:platform name="ios" />
    <gap:platform name="android" />
    
	<preference name="splashscreen" value="files/views/assets/image/splashBackground.png" />

	<preference name="AutoHideSplashScreen" value="false" />
		<!-- Do not auto hide splash on Android -->
		<preference name="SplashScreenDelay" value="1000"/>
	

	<gap:plugin name="org.apache.cordova.splashscreen" />
	
	<gap:plugin name="org.apache.cordova.InAppBrowser" />
	
	<gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="StatusBarBackgroundColor" value="#FF0000" />

<!--
	<feature name="Geolocation">
    <param name="ios-package" value="CDVLocation" />
</feature>
-->
	<gap:plugin name="org.apache.cordova.geolocation"/>
	<!--<gap:plugin name="org.apache.cordova.core.geolocation" />-->

	<access origin="*" />
    
<gap:config-file platform="ios" parent="NSLocationAlwaysUsageDescription" overwrite="false"> 
<array> 
<string>Allow GPS</string> 
</array> 
</gap:config-file>	

	
	<gap:config-file platform="ios" parent="UIStatusBarHidden">
		<true/>
	</gap:config-file>

	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
		<false/>
	</gap:config-file>
	
	<gap:plugin name="cc.fovea.plugins.inapppurchase"/>    

	<access origin="*" />
    
</widget>
