
@media (min-width: 1200px) {
.row-fluid {
    max-width: 1200px;
}
}

body {
	background-color: white !important;
	
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}


* {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.dataTable th select,
.dataTable th input {
	float: left;
	font-size: 10px;
	width: auto;
	abackground-color: red;
	height: auto;
	line-height: auto;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	padding: 0;
	color: black;
}

.dataTable th select option
{
	font-size: 10px;
}
.dataTable th 
{
	border: 1px solid #CCCCCC;
	white-space: nowrap;
}
#tableContainerBorder {
	padding: 0px;
	border: 0px solid red;
}

#tableContainer {
	aborder: 1px solid #CCCCCC;
	margin: 0px;
	apadding: 20px 20px;
	abackground-color: whitesmoke;
	aoverflow-x: scroll;
}

#tableContainer select {
		margin-bottom: 0;
		width: auto;
		apadding: 100;
	}

.dataTables_wrapper {
	overflow-x: scroll;
}

#tableContainer .dataTables_scrollHead {
	background-color: red; /*#053160; */
	color: white;
}
#tableContainer .dataTables_length,
#tableContainer .dataTables_filter {
	font-weight: bold;
}

table.dataTable.display {
	width: 100%;
	//width: auto !important;
}


table.dataTable.display thead tr {
	background-color: #063a72; /* dark-header-blue */
	color: white;
}

table.dataTable.display tbody tr td {
	text-align: center; 
	padding-top: 4px;
	padding-bottom: 4px;
}
table.dataTable.display tbody tr td.Comment {
	text-align: left; 
}

table.dataTable.display tbody tr.even {
	abackground-color: #0954a8; /* dropdown-blue */
}

table.dataTable.display tbody tr.odd {
	background-color: #ebf1f9;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.hover tbody tr.odd:hover,
table.dataTable.hover tbody tr.even:hover, table.dataTable.display tbody tr:hover,
table.dataTable.display tbody tr.odd:hover,
table.dataTable.display tbody tr.even:hover {
  background-color: whitesmoke;
}


table.dataTable tbody td {
    padding: 4px 8px !important;
}
#tableContainer table.dataTable thead th { 
    padding-top:4px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 30px;
}

table.dataTable thead th.sorting,
table.dataTable thead th.sorting_desc,
table.dataTable thead th.sorting_asc {
    background-size: 30px 30px;
}
.clear {
	clear: both;
}

table.dataTable { width: auto; }


#tableContainer table.dataTable thead th.clControls 
,#tableContainer table.dataTable tbody td.clControls {
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
    width: 80px;
}

.clControls img {
	width: 30px;
	height: 20px;
    cursor: pointer;
	display:inline-block;
	aborder: 1px solid red;
}

.clControls img.clAdd {
    background: url('../files/views/assets/image/img_22_22/button_plus_blue.png') no-repeat center center;
	background-size: 20px 20px;
}
th.clControls img.clAdd {
	background-color: green;
    background: url('../files/views/assets/image/img_22_22/button_plus_white.png') no-repeat center center;
}
.clControls img.clEdit {
    background: url('../files/views/assets/image/img_22_22/button_edit_blue.png') no-repeat center center;
	background-size: 20px 20px;
}
.clControls img.clDelete {
    background: url('../files/views/assets/image/img_22_22/button_delete_blue.png') no-repeat center center;
	background-size: 20px 20px;
}
.clControls img.clSave {
    background: url('../files/views/assets/image/img_22_22/button_disc_blue.png') no-repeat center center;
	background-size: 20px 20px;
}
.clControls img.clCancel {
    background: url('../files/views/assets/image/img_22_22/button_cross_blue.png') no-repeat center center;
	background-size: 20px 20px;
}

table.dataTable.display tbody tr.odd.clEdited,
table.dataTable.display tbody tr.odd.clEdited:hover,
table.dataTable.display tbody.hover tr.odd.clEdited:hover,
table.dataTable.display tbody tr.even.clEdited,
table.dataTable.display tbody tr.even.clEdited:hover,
table.dataTable.display tbody.hover tr.even.clEdited:hover
{
    background-color: gold; /*#0954a8;*/
	color: white;
	font-size: 14px;
}
table.dataTable.display tbody tr.odd.clEdited td select,
table.dataTable.display tbody tr.odd.clEdited:hover td select,
table.dataTable.display tbody.hover tr.odd.clEdited:hover td select,
table.dataTable.display tbody tr.even.clEdited td select,
table.dataTable.display tbody tr.even.clEdited:hover td select,
table.dataTable.display tbody.hover tr.even.clEdited:hover td select
{
    font-size: 14px;
}

table.dataTable.display tbody tr.odd.clBlurred,
table.dataTable.display tbody tr.odd.clBlurred:hover,
table.dataTable.display tbody.hover tr.odd.clBlurred:hover,
table.dataTable.display tbody tr.even.clBlurred,
table.dataTable.display tbody tr.even.clBlurred:hover,
table.dataTable.display tbody.hover tr.even.clBlurred:hover
{
	opacity: 0.6;
}

table.dataTable.display thead th.clBlurred,
table.dataTable.display thead.hover th.clBlurred:hover,
table.dataTable.display thead th.clBlurred:hover,
table.dataTable.display thead.hover th.clBlurred:hover
{
	opacity: 0.6;
}
table.dataTable.display tbody tr.odd.clBlurred td select,
table.dataTable.display tbody tr.odd.clBlurred:hover td select,
table.dataTable.display tbody.hover tr.odd.clBlurred:hover td select,
table.dataTable.display tbody tr.even.clBlurred td select,
table.dataTable.display tbody tr.even.clBlurred:hover td select,
table.dataTable.display tbody.hover tr.even.clBlurred:hover td select
{
	opacity: 0.6;
}
table.dataTable.display thead th.clBlurred td select,
table.dataTable.display thead th.clBlurred:hover td select,
table.dataTable.display thead.hover th.clBlurred:hover td select,
table.dataTable.display thead th.clBlurred td select,
table.dataTable.display thead th.clBlurred:hover td select,
table.dataTable.display thead.hover th.clBlurred:hover td select
{
	opacity: 0.6;
}



#fav-nav .moduletable ul.nav.menu.clMenuContainer {
/*		padding: 0;
		margin: 0;
		margin: 0px 0 0 -90px;
		border: none;
		float: left; 
		width: auto;*/
/*
		border-color: #063a72; 
		background-color: #063a72; 
*/
		color:white;
	}

#fav-nav .moduletable ul.nav.menu {
	width: 100%;
}

#fav-nav .navigation ul.nav.menu li a
,ul.clLink li a
 {
	text-align: center;
}

#fav-nav .navigation ul.clMenuContainer.nav.menu li a span,
#fav-nav .navigation ul.nav.menu li a span
,ul.clLink li a span
{
	font-size: 20px;
}
#fav-nav .navigation ul.clMenuContainer.nav.menu li.active a span,
#fav-nav .navigation ul.nav.menu li.active a span
,ul.clLink li.active a span
{
	font-weight: bold;
}
#fav-nav .navigation ul.nav.menu li a:hover > span
{
	transition: all 0.2s ease-in-out;
	border-bottom: 4px solid #073E78;
	font-size: 21px;
}

#fav-nav .navigation ul.clMenuContainer.nav.menu li a:hover > span
,ul.clLink li a:hover > span
{
	transition: all 0.2s ease-in-out;
	border-bottom: 4px solid #A0522D;
	font-size: 21px;
}

#fav-nav .moduletable ul.nav.menu li
,#fav-nav .moduletable ul.nav.menu li li
,#fav-nav .moduletable ul.nav.menu li li li
,#fav-nav .moduletable ul.nav.menu li li li li {
	width: 25%;
}


a.clUserInfo  {
    background-color: #A0522D;
    border: 1px solid #A0522D;
    height: 25px;
    border-radius: 9px !important;
	color: white;
	awidth: 400px;
}

a.clUserInfo  span {
	float: left;
	margin-left: 10px;
	border: 0px solid red;
	font-size: 20px;
	afont-weight: bold;
}

a.clUserInfo  img {
	float: left;
	width : 25px;
	height : 25px;
}


	.hidden{
		adisplay:none;
	}
	.clNoDisplay{
		display:none !important;
	}

	#fav-nav .navigation ul.clMenuContainer.nav.menu li {
/*		border: 1px solid white;
*/
		height: 30px;
	}
#fav-nav .navigation ul.clMenuContainer.nav.menu li a 
,ul.clLink li a 
{
    color: sienna; /*white; */
    margin-top: 0; 
    margin-bottom: 0; 
    padding-top: 5px; 
    padding-bottom: 5px;	
/*	float: right; */
    background-color: white; /*#A63a72;*/
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 0px !important;
    height: 30px;
}

	.navigation ul.nav.clMenuContainer > li {
		float: right;
	}
	
.ratingSelect > label {
	float: none;
	display: inline-block;
}
.ratingSelect,
.ratingSelect.floated {
	float: none;
	padding: 0;
	margin: 0;
}

label.rated, 
label.untrated {
	height: 14px;
}	


.fromToFilter input {
	display: inline-block;
}


.clEdited textarea {
	height: 30px;
	margin-bottom: 0px;
}

#ui-datepicker-div 
{
 z-index: 1000 !important; /* must be > than popup editor (950) */
}

#fav-nav .moduletable, 
#fav-nav .navigation { 
	width: 100%;
}


/* 
	woifal 20141107
*/


body {
	background-color: white;
}

ul.nav.menu
,ul.clLink  {
	aborder: 1px solid red;
	margin-top: 0px;
	margin-bottom: 0px;
}
#fav-nav .navigation ul.nav.menu li a
,ul.clLink li a
{
	aborder: 1px solid red;
	padding: 18px 30px;
	font-size:20px;
	
}

ul.clLink {
    list-style: none outside none;
    padding-left: 0;
}
ul.clLink.clLinkVertical {
    width: 250px;   
}

ul.clLink li {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
}

ul.clLink li a  {
    padding: 0 0 0 0;
}


#fav-nav{
	border: none;
	
}
#fav-logo {
	padding-top: 10px;
}

.mediaLogo>img {
	width: 300px;
}

@media (max-width: 1199px) {
	.mediaLogo>img {
		width: 200px;
	}
}
@media handheld, only screen and (max-width: 768px) {
	.mediaLogo>img {
		width: 100px;
	}

}

#fav-copyrightwrap {
	border: none;
}
#fav-maincontent {
	border-bottom:  2px solid #073E78 !important;
}
#fav-header {
	border-bottom: 2px solid #073E78 !important;
	padding: 10px 0px;
}
